.calculator__visor--desktop {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;
  width: 75%;
  height: 100px;
  margin-top: 40px;
  padding: 0 10px;
  border-radius: 16px;
  font-size: map-get($map: $font-sizes, $key: visor-desktop);
  background-color: var(--alt);
  color: var(--txt);
}

@media only screen and (max-width: 1024px) {
  .calculator__visor--desktop {
    margin-top: 100px;
  }
}
